{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script 
        src="https://www.paypal.com/sdk/js?client-id=test"   
        data-sdk-integration-source="developer-studio"
    >
        <!--PayPal JavaScript SDK for payment integration, "Client-id=test" for testing purposes, replace with actual ClienID in Production stuff -->
    </script>

</head>
<body>
    <h1 id="product-description">Beer Donation Page 🍻</h1>
    <p>Choose the amount of beers you want to donate:</p>
    <p><small>Beer $50</small></p>

    <div class="buttons-container">
        <button id="donate-3">3 🍻</button>
        <button id="donate-5">5 🍻</button>
        <button id="donate-10">10 🍻</button>
    </div>

    <p>Or enter the amount of beers you want to donate:</p>
    <input type="number" id="amount-input" min="0" />
    <p>Total amount to pay: <span id="total-amount">0</span> $</p>

    <button id="checkout-btn">Checkout</button>
    
    <div id="paypal-button-container">
            <!-- PayPal widget will be rendered here -->
    </div>

    <div id="result-message-container">
        <p><span id="result-message">Hola!</span></p>
            
    </div>
    
    
    <script src="{% static 'index.js' %}"></script>
</body>
</html>
